* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  padding: 20px;
  font-size: 24px;
}
p {
  margin-bottom: 20px;
}
h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

#pushed,
#greenBtn,
#yellowBtn,
#whiteBtn {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
}

#xcoord {
  width: 80;
  height: 40;
  border: 2px solid black;
}
